.stc-product-card.mat-mdc-card
  background-color: #FFFFFF
  min-width: 150px
  
  .img-container
    height: 150px
    width: auto
    background-size: contain
    margin: 8px

  .mat-mdc-card-title
    white-space: nowrap
    font-size: 18px
  
