$max: 64
$offset: 4
$unit: 'px'

@mixin generate-helper-classes($className, $styleName)
  $i: 0
  @while $i <= $max
    #{$className + $i} 
      #{$styleName}: #{$i + $unit}
    $i: $i + $offset


// Padding helper classes
@include generate-helper-classes('.p-', padding)
@include generate-helper-classes('.pt-', padding-top)
@include generate-helper-classes('.pr-', padding-right)
@include generate-helper-classes('.pb-', padding-bottom)
@include generate-helper-classes('.pl-', padding-left)

// Margin helper classes
@include generate-helper-classes('.m-', margin)
@include generate-helper-classes('.mt-', margin-top)
@include generate-helper-classes('.mr-', margin-right)
@include generate-helper-classes('.mb-', margin-bottom)
@include generate-helper-classes('.ml-', margin-left)


html, body
  margin: 0
  padding: 0
  height: 100%

/* 
 Overwrite material styles 
.mat-mdc-card-header-text
  max-width: 100%
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

.stc-error-msg
  color: #e73b3b


@keyframes spinner 
  to
    transform: rotate(360deg)
 
.button-spinner:before 
  content: ''
  box-sizing: border-box
  position: absolute
  top: 50%
  left: 50%
  width: 20px
  height: 20px
  margin-top: -10px
  margin-left: -10px
  border-radius: 50%
  border: 2px solid #ffffff
  border-top-color: #000000
  animation: spinner .8s linear infinite
