<h1 mat-dialog-title *ngIf="product?.title; else addTitle">
  Edit: {{ product.title }}
</h1>
<ng-template #addTitle><h1 mat-dialog-title>Add Product</h1></ng-template>
<div mat-dialog-content>
  <p>Add/Edit Product</p>
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput placeholder="E.g. Yellow Denim T-Shirt" />
    <mat-error *ngIf="true"> This field is required. </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput placeholder="Enter product description here" />
  </mat-form-field>
  <!-- <mat-form-field> -->
  <mat-label>Image</mat-label>
  <input mat-button type="file" />
  <!-- </mat-form-field> -->
  <mat-form-field>
    <mat-label>Price</mat-label>
    <input matInput placeholder="$1.00" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="product.title" cdkFocusInitial>
    Save
  </button>
</div>
